{% extends 'base.html' %}

{% block konten%}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"> Top Navigation </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url_for("rmahasiswa.home")}}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ url_for("rmahasiswa.about")}}">About</a></li>
                        <li class="breadcrumb-item active">Top Navigation</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Tentang Kami</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis ab neque repellendus voluptatum voluptates minima odit, dolor illum, dicta hic tenetur blanditiis optio tempore asperiores amet nesciunt fugiat enim itaque.</p>

                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}